<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <style>
     input[type=radio]:not(old):checked + label{
         background-image : url('/images/{{current_mark}}.svg');
     }
    </style>
  </head>
  <body>
    <div id="players">
      <div{{#x_current}} class="current-player"{{/x_current}}>Player {{x_mark}}</div>
      <div{{#o_current}} class="current-player"{{/o_current}}>Player {{o_mark}}</div>
    </div>
    <form action="/make-move" method="post">
      {{{board}}}
      <input id="submit-btn" type="submit" value="Make Move">
    </form>
    <script type="text/javascript" src="/js/tic_tac_toe/API.js"></script>
    <script type="text/javascript" src="/js/tic_tac_toe/GridSquare.js"></script>
    <script type="text/javascript" src="/js/tic_tac_toe/Board.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
