<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <h1>Welcome to Tic-Tac-Toe!</h1>
    <form action="/new-game" method="post">
      {{#players}}
        <h3>Player {{index}}</h3>
        {{#types}}
        <input  id="player{{index}}-{{type}}" type="radio"
              name="player{{index}}" value="{{type_value}}" required >
        <label for="player{{index}}-{{type}}">{{type}}</label>
        {{/types}}
        <br />
      {{/players}}
      <input type="submit" value="Start Game">
    </form>
  </body>
</html>
